@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --paddingLeft: .3rem;
    --linkUnderlineTrnasition: width .2s;
    --defBorder: 2px solid;
    --defWhite : #ffffff;
    --lightBorder: .5px lightgray solid;

/* Color Theme Swatches in HSLA */
    --flamingOrange: hsl(11, 100%, 17%); 
    --darkOrange: hsl(7, 75%, 42%); 
    --orange: hsl(35, 97%, 54%); 
    --yellow: hsl(48, 100%, 50%);
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background: url(../Img/empty_pattern.png) repeat;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}

nav{
    width: 100%;
    height: 100px;
    background: var(--defWhite);
    border-bottom: var(--lightBorder);
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav img{
    width: 260px;
}


.alignNav{
    width: 25%;
    flex-shrink: 2;
}

#centerNav{
    width: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 2rem;
    font-weight: bold;
}

.main{
    background: var(--defWhite);
    border: var(--lightBorder);
    min-height: max-content;
    margin-top: .5rem;
    width: 58rem;
    margin: 0 auto;  
}

.main form{
    background: var(--defWhite);
    display: flex;
    margin: .5rem auto;
    flex-direction: column;
    row-gap: 1rem;
    height: 100%;
    width: 54rem;
}

#first{
    border: 2px solid;
    min-height: 24rem;
}

#imeinsed{
    width: 100%;
    height: 4rem;
}

#imeinsed label{
    display: block;
    padding-left: var(--paddingLeft);
}

#imeinsed input[type="text"]{
    width: 28rem;
    margin: 0 1rem;
}

#dataVlag{
    display: grid;
    grid-template-columns: 1fr 1fr ; /*1fr 1fr -> oba dva zasedeta enako prostora*/
    border-bottom: var(--defBorder);
    border-top: var(--defBorder);
    width: 100%;
    height: 2rem;
}

#dataText{
    background: var(--darkOrange);
    border-right: 2px solid;
    font-weight: bold;
    box-sizing: border-box;
}

#dataText, #dataRadio{
    width: 100%;
    line-height: 2rem;
    padding-left: var(--paddingLeft);
}

.textareas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 6rem;
    border-bottom: 2px solid;
    border-collapse: collapse;
}

.textareas textarea{
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.t1{
    border-right: 2px solid;
}

.t1, .t2{
    border-radius: 0;
}

#dataDij{
    height: 2rem;
    line-height: 2rem;
    background: var(--darkOrange);
    padding-left:var(--paddingLeft) ;
    border-bottom: var(--defBorder);
    font-weight: bold;
}

#data3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 4rem;
}

#emso{
    width: 100%;
}

#emso label{
    display: block;
    height: 2rem;
    line-height: 2rem;
    padding-left: var(--paddingLeft);
}

#emso input[type="text"]{
    position: relative;
    width: 6.1rem;
    height: 2em;
    left: 50%;
    transform: translateX(-50%);
}

#letnik{
    width: 100%;
    height: 100%;
    border-left: var(--defBorder);
    border-right: var(--defBorder);
    box-sizing: border-box;
}

#letnik label{
    display: block;
    height: 2rem;
    line-height: 2rem;
    padding-left: var(--paddingLeft);
}

#letnik input[type="text"]{
    position: relative;
    font-size: 1.5rem;
    width: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

#second{
    min-height: 6rem;
    border: 2px solid;
}

#prijava{
    background: var(--orange);
    height: 2rem;
    border-bottom: 2px solid;
    line-height: 2rem;
    font-weight: bold;
    padding-left: var(--paddingLeft);
}

#secondTxt{
    height: 4rem;
    padding-left: var(--paddingLeft);
}

#third{
    border: 2px solid;
    min-height: 31rem;
}

#thHead{
    background: var(--orange);
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    height: 2em;
    line-height: 2em;
    border-bottom: 2px solid;
    padding: 0 var(--paddingLeft);
}

#thList{
    margin-top: 1rem;
}

#thList ul{
    list-style: inside "- ";
    padding: 0 var(--paddingLeft);
}

#imporatante{
    color: red;
}

#thList ul li a{
    position: relative;
    color:red;
    text-decoration: none;
}

#thList ul li a::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0%;
    background: rgb(85, 26, 139);
    transition: var(--linkUnderlineTrnasition);
}

#thList ul li a:hover{
    color: rgb(85, 26, 139);
}

#thList ul li a:hover:after{
    width: 100%;
}

#izjava{
    margin-top: 1rem;
    padding: 0 var(--paddingLeft);
    height: 3rem;
}

#sepparator{
    display: grid;
    grid-template-columns: 1fr 1fr; /* 1fr 1fr -> 2 enaka stolpca*/
    height: 10rem;
    margin-top: 1rem;
}

#box1{
    line-height: 10rem;
    padding-left: var(--paddingLeft);
}


#box1 input[type="date"]{
    width: 10rem;
    
}

#box2 canvas{
    display: block;
    background: var(--yellow);
    border: var(--lightBorder);
    width: 18em;
    height: 6em;
    border-radius: 10px;
}

.delete{
    text-decoration: none;
}

.delete:hover{
    text-decoration: 1.5px underline;
}

#fourth{
    min-height: 13rem;
    border: var(--defBorder);
    list-style: inside;
}

#forhead{
    background: yellow;
    height: 2rem;
    line-height: 2rem;
    border-bottom: var(--defBorder);
    font-weight: bold;
    padding-left: var(--paddingLeft);
}

#foText{
    padding: .5rem var(--paddingLeft) 0 var(--paddingLeft);
}

#foText ol li{
    padding-bottom:.5rem;
}

#fifth{
    /*border: var(--defBorder);*/
    text-align: center;
    height: 4rem;
    line-height: 4rem;
}

#endMyMisseryPls{
    position: relative;
    background: var(--darkOrange);
    font-family: "Noto Sans", sans-serif;
    font-size: large;
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: ease .05s;
}

#endMyMisseryPls:hover{
    border: 2px var(--flamingOrange) solid;
    width: 12.6rem;
    height: 3.6rem;
    font-size: 1.2rem;
    transition: ease .05s;
}

@media (min-width:958px){
    #centerNav{
        transition:ease 100ms;
    }
}

@media (max-width: 958px){

    #centerNav{
        font-size: 1.5rem;
        transition:ease 100ms;
    }

}

@media (max-width: 947px){

    nav{
      height: 60px;
    }

    #centerNav{
        line-height: 60px;
        transition:ease 100ms;
    }

    nav img{
        width: 160px;
    }

    .main{
        min-height: max-content;
        margin-top: .5rem;
        width: 44rem;
        margin: 0 auto;  
    }
    
    .main form{
        background: var(--defWhite);
        display: flex;
        margin: .5rem auto;
        flex-direction: column;
        row-gap: 1rem;
        height: 100%;
        width: 40rem;
    }

    #first{
        border: 2px solid;
        min-height: 24rem;
    }

    #imeinsed{
        height: 4rem;
    }

    #imeinsed input[type="text"]{
        width: 38rem;
    }

    #dataVlag{
        height: 2rem;
    }

    #emso input[type="text"]{
        position: relative;
        width: 6.1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    #letnik label{
        line-height: 2rem;
    }

    #letnik input[type="text"]{
        position: relative;
        width: 3rem;
        left: 50%;
        transform: translateX(-50%);
    }

}

@media (max-width: 725px){
    #centerNav{
        font-size: 1rem;
        transition:ease 100ms;
    }

    .main{
        width: 32rem;
        font-size: .9rem;
    }

    .main form{
        width: 28rem;
    }

    #imeinsed input[type="text"]{
        width: 26rem;
    }

    #letnik label, #emso label{
        font-size: .7rem;
    }

    #box2 canvas{
        width: 12em;
        height: 6em;
    }
    /*naredi canvas da dela z scale*/
}