@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --paddingLeft: .3rem;
    --linkUnderlineTrnasition: width .2s;
    --defBorder: 2px var(--luminous-vivid-amber) solid;;
    --defWhite : #ffffff;
    --lightBorder: .5px #eeeff0 solid;
    --borderSmol: 1.5px solid;
    --defaultFont: "Noto Sans", sans-serif;

/* Color Theme Swatches in HSLA */
    --flamingOrange: hsl(11, 100%, 17%); 
    --darkOrange: hsl(7, 75%, 42%); 
    --orange: hsl(35, 97%, 54%); 
    --yellow: hsl(48, 100%, 50%);

    --black: #000000;

    --cyan-bluish-gray: #abb8c3;

    --white: #ffffff;

    --pale-pink: #f78da7;

    --vivid-red: #cf2e2e;

    --luminous-vivid-orange: #ff6900;

    --luminous-vivid-amber: #fcb900;

    --light-green-cyan: #7bdcb5;

    --vivid-green-cyan: #00d084;

    --pale-cyan-blue: #8ed1fc;

    --vivid-cyan-blue: #0693e3;

    --vivid-purple: #9b51e0;

    --font-color: #082b3b;

    --gray-ish:#eeeff0;

}

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background: #eeeff0;
    font-family: var(--defaultFont);
    font-size: 18px;
    color: var(--font-color);
}

input{
    font: var(--defaultFont);
}

header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: 100px;
    background: var(--defWhite);
    border-bottom: var(--lightBorder);
}

#headLeft{
    align-self: center;
    margin-left: 1rem;
}

#headLeft img{
    width: 260px;
}

#headCenter{
    align-self: center;
    justify-self: center;
}

.main{
    background: var(--defWhite);
    border: var(--lightBorder);
    min-height: max-content;
    margin-top: .5rem;
    width: 66rem;
    margin: 0 auto 1rem auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.main form{
    background: var(--defWhite);
    display: flex;
    margin: .5rem auto;
    flex-direction: column;
    row-gap: 1rem;
    height: 100%;
    width: 58rem;
    padding: 0.5rem 4rem;
}

#first{
    width: 100%;
    min-height: 24rem;
}

.gridContainer1, .gridContainer2{
    display: grid;
    grid-template-columns: 1fr 1fr; /*1fr -> dodeli 2 divom enako prostora (50%)*/
    height: 4rem;
}

#dataText{
    /*background: var(--darkOrange);*/
    font-weight: bold;
    box-sizing: border-box;
}

#imeDiv label, #priimekDiv label{
    display: block;
}

#imeDiv input[type="text"], #priimekDiv input[type="text"], #naslov input[type="text"]{
    width: 60%;
    height: 1.5rem;
    font-size: .9rem;
}

#naslov{
    height: 4rem;
}

#naslov label{
    display: block;
}

#radio{
    width: 100%;
    align-self: center;
}

#imeinsed{
    width: 100%;
    height: 4rem;
}

#imeinsed label{
    display: block;
    padding-left: var(--paddingLeft);
}

#imeinsed select{
    width: 50%;
    margin: 0 calc(54rem/4);
}

#dataDij{
    height: 2rem;
    line-height: 2rem;
    /*background: var(--darkOrange);*/
    /*padding-left:var(--paddingLeft);*/
    font-weight: bold;
}

.gridContainer2 label{
    display: block;
}

.gridContainer2 input[type="text"]{
    width:60%;
    height: 1.5rem;
    font-size: .9rem;
}

#emso{
    width: 100%;
}

#emso{
    width: 12rem;
}

.line{
    margin: 0 -4rem;
    border-bottom: var(--lightBorder);
}

#second{
    min-height: 8rem;
}

.gridContainer3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridContainer4{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 6rem;
}

#selection select, #selection select option{
    font-family: var(--defaultFont);
    font-size: .9rem;
    height: 1.6rem;
}

#letnik{
    padding-left: 2rem;
}

#letnik label{
    display: block;
}

#letnik select, #letnik select option{
    font-family: var(--defaultFont);
    font-size: .9rem;
    height: 1.6rem;
    width: 4rem;
}

#third{
    min-height: 18rem;
}

#secondTxt{
    height: 4rem;
    padding-left: var(--paddingLeft);
}

.izjavaPopUp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: var(--defBorder);
    border-radius: 10px;
    z-index: 999;
    background: var(--white);
    width: 50rem;
    max-width: 80%;
}

.izjavaPopUp.active{
    transform: translate(-50%, -50%) scale(1);
}

#popUpHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
    border-bottom: var(--defBorder);
    height: 4rem;
}

#popUpHead button{
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 2rem;
    font-weight: bold;
}

#popUpHeadText{
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
}

#popUpList ul{
    list-style: inside "- ";
    padding: 0 .5rem;
}

#izjava{
    padding: .5rem .5rem;
    height: 4rem;
    margin-top: .5rem;
    line-height: 2rem;
}

#izjavaWarning span{
    cursor: pointer;
    color: var(--luminous-vivid-orange);
    text-decoration: underline 2px var(--luminous-vivid-orange);
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* zapolni cel screen*/
    background: rgba(171, 184, 195, .5);
    pointer-events: none; /* kadar je popup neviden, ne capture-a clickov */
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

#imporatante{
    color: var(--vivid-red);
}

#popUpList ul li a{
    position: relative;
    color: var(--vivid-cyan-blue);
    text-decoration: none;
}

#popUpList ul li a::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0%;
    background: var(--vivid-cyan-blue);
    transition: var(--linkUnderlineTrnasition);
}

#popUpList ul li a:hover{
    color: var(--vivid-cyan-blue);
}

#popUpList ul li a:hover:after{
    width: 100%;
}

/*Fix canvas problems*/

#box2 canvas{
    display: block;
    background: var(--luminous-vivid-amber);
    border: var(--lightBorder);
    width: 18em;
    height: 6em;
    border-radius: 10px;
}

.delete{
    text-decoration: none;
}

.delete:hover{
    cursor: pointer;
    text-decoration: 1.5px underline;
}

#fourth{
    min-height: 13rem;
    list-style: inside;
}

#forhead{
    height: 2rem;
    line-height: 2rem;
    font-weight: bold;

}

#foText{
    padding: .5rem var(--paddingLeft) 0 var(--paddingLeft);
}

#foText ol li{
    padding-bottom:.5rem;
}

#fifth{
    /*border: var(--defBorder);*/
    text-align: center;
    height: 3rem;
    line-height: 3rem;
}

#endMyMisseryPls{
    position: relative;
    background: var(--darkOrange);
    font-family: "Noto Sans", sans-serif;
    font-size: large;
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: ease .05s;
}

#endMyMisseryPls:hover{
    border: 2px var(--flamingOrange) solid;
    width: 12.6rem;
    height: 3.6rem;
    font-size: 1.2rem;
    transition: ease .05s;
}

/* TODO: Fix media queries */

@media (min-width:1080px){
    header{
        transition:ease 100ms;
    }

    .main, .main form{
        transition:ease 100ms;
    }
}

@media (max-width: 1080px){

    header{
        font-size: .9rem;
        height: 80px;
        transition:ease 100ms;
    }
    
    #headLeft img{
        width: 180px;
    }

    .main{
        min-height: max-content;
        margin-top: .5rem;
        width: 50rem;
        margin: 0 auto;  
        transition: ease 100ms;
    }
    
    .main form{
        background: var(--defWhite);
        display: flex;
        margin: .5rem auto;
        flex-direction: column;
        row-gap: 1rem;
        height: 100%;
        width: 40rem;
        transition: ease 100ms;
    }

}

@media (max-width: 835px){
    h2{
        font-size: 1.1rem;
    }
    header{
        font-size: .7rem;
        height: 60px;
        transition:ease 100ms;
    }

    #headLeft img{
        width: 140px;
    }

    .main{
        transition: ease 100ms;
        min-height: max-content;
        font-size: .9rem;
        width:35rem
    }

    .main form{
        width: 26rem;
        transition:ease 100ms;
    }

    #gridContMedia.gridContainer1, #gridContDij.gridContainer2{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        height: 8rem;
        transition:ease 100ms;
    }

    #gridContSol.gridContainer3{
        grid-template-columns: none;
        grid-template-rows: 1fr .5fr;
    }

    #selection select, #selection option, #letnik select, #letnik option{
        font-size: .8rem;
    }

    .gridContainer4{
        height: 3rem;
    }

    #letnik{
        padding:0;
    }

    #third{
        min-height: 14rem;
    }

}

@media (max-width: 650px){

    h2{
        font-size: .9rem;
    }

    header{
        font-size: .5rem;
        height: 40px;
        transition:ease 100ms;
    }

    #headLeft img{
        width: 100px;
    }

    .main{
        width: 28rem;
    }

    .main form{
        width: 20rem;
        font-size: .6rem;
    }

    #first{
        min-height: 18rem;
    }

    #first input[type="text"]{
        height: .9rem;
        font-size: inherit;
    }

    /*praši za resize od radio*/

    #gridVlag.gridContainer1, #naslov,.gridContainer2{
        height: 3rem;
    }

    #gridContMedia.gridContainer1{
        height: 4rem;
    }

    #gridContDij.gridContainer2{
        height: 5rem;
    }


    #selection select, #selection select option, #letnik select, #letnik select option{
        font-size: .6rem;
    }

    #letnik{
        padding-top: .5rem;
    }

    .gridContainer4{
        height: 2rem;
    }

    #izjavaWarning{
        height: 1rem;
        line-height: normal;
        margin-top: 0.8rem;
    }

    #third, #fourth{
        min-height: 11rem;
    }

    /*naredi canvas da dela z scale*/
}

@media (max-width: 470px){
    
    h2{
        font-size: .7rem;
    }

    header{
        font-size: .4rem;
        height: 40px;
        transition:ease 100ms;
    }

    #headLeft img{
        width: 100px;
    }

    .main{
        width: 26rem;
    }

    .main form{
        width: 18rem;
    }

}

@media (max-width: 433px){

    h2{
        font-size: initial;
    }
    header{
        width: 99vw;
        grid-template-columns: 1fr;
    }

    #headCenter{
        width: unset;
        justify-self: center;
        font-size: .7rem;
        font-weight: bold;
        transition: ease 100ms;
    }

    .main{
        margin: 0;
        border-left: none;
        border-right: none;
        width: 99vw;
        box-sizing: border-box;
    }

    .main form{
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        font-size: 1.1rem;
    }
    .line{
        width: 100%;
    }

    #first{
        display: grid;
        grid-template-rows:.3fr 1.5fr 1fr .3fr 1.5fr 1.5fr;
        min-height: 35rem;
        padding-left: .2rem;
    }

    #first input[type="text"]{
        width: 90%;
        height: 1.5rem;
    }

    #dataText{
        justify-self: center;
    }

    #gridVlag.gridContainer1, #gridContMedia.gridContainer1, .gridContainer2{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    #gridContMedia.gridContainer1 input[type="radio"]{
        margin-top: 1rem;
    }

    #emso{
        width: 10rem;
    }

    #gridContSol.gridContainer3{
        height: 8rem;
        grid-template-rows: 1fr 1fr;
    }

    /*popravi clamps*/

    #selection select, #letnik select{
        height: clamp(1rem, 7vw,1.6rem);
    }

    #selection select, #selection select option, #letnik select, #letnik select option{
        font-size: clamp(0.3rem,2.5vw,.64rem);
    }
    #third{
        display: flex;
        flex-direction: column;
    }

    #secondTxt{
        height: 7rem;
    }



    #izjavaWarning{
        height: 2rem;
    }

}